body {
    background: url("https://i.imgur.com/MOkYBLj.png") ;
    border-top-style: solid ;
    margin: 0 auto ;
    
    
}
header {
    position: fixed ;
    top: 0 ;
    background-color: white ;
   border-bottom-style: solid ;
   border-bottom-color: black ;
   margin-top: 0px ;
   margin-bottom: 2px ;
   height: 100px ;
   width: 100% ;
}
.namebutton {
    font-size: 10px ;
    background-color: teal ;
    color: white ;
    border-style: solid ;
    padding: 20px ;
    margin-left: 15% ;
    margin-right: 70% ;
    margin-bottom: 0px ;
    float: left; 
}

nav {
    position: relative; 
    float: right ;
    top: -60px ; 
    right: 10px ;
}

ul li {
    display: inline ;
    color: white ;

}

#main-container {
    overflow: auto ;
    background-color: white ;
    width: 960px ;
    height: 600px; 
    margin: 0 auto ;
    padding: 20px ;
    margin-top: 120px ;
    margin-bottom: 100px ;
    border-style: solid ;
    border-color: black ;
    
  }

  
  .main-section {
    float: left;
    width: 100%;
    max-width: 900px;
    padding: 30px;
    margin: 0 0 40px;
    background: #ffffff;
   
  }
  
  /* portfolio page */
  .About {
    border-bottom-style: solid ;
    border-bottom-color: grey ;
    font-size: 30px ; 
    margin-left: 40px ; 
 
}
  
  .work {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
  }
  
  .work:nth-child(even) {
    margin-right: 40px;
  }
  
  .work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
  }
  
  .work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }
  
  .auth-image {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
  }
  



footer {
    clear: both ;
    overflow: auto ; 
    margin-bottom: 0px ; 
    border-bottom-color: black ;
    border-bottom-style: solid ;
    border-bottom-width: 40px ;
    text-align: center ;
    
    
}

.bottom {
    border-bottom-style: solid ;
    border-bottom-color: teal ;
    border-bottom-width: 10px ;
    
   
    
}

.clear {
    clear: both ;
    overflow: auto ;
}